@font-face{
	font-family:'yekan';
	src:url('../fonts/Yekan.eot');
	src:url('../fonts/Yekan.eot?#iefix') format('embedded-opentype'),
	   url('../fonts/Yekan.woff') format('woff'),
	   url('../fonts/Yekan.ttf') format('truetype'),
	   url('../fonts/Yekan.svg#yekan') format('svg');
	   font-style:normal;
	   font-weight:normal;
	   }

body{
	padding:0px;
	margin:0px;
    font-family: yekan;	
	direction:rtl
}
p,
h1,
h2,
h3,
h4,
h5,
h6{
	margin: 0 0 15px;
font-weight:normal;
}
ul{
	padding:0;
	margin:0;
	list-style:none;
}
a{
	color:#000;
	text-decoration:none;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}
.row{
	width:100%;
	float:right;
}
.container{
	width:1172px;
	margin: 0 auto;
}
/* start header */
#header{
	
}
#header .container{
		background: url('../images/devider.png') center bottom no-repeat;
}

#logo{
	width: 210px;
	height: 120px;
	background: url('../images/logo5.png');
	margin: 0 auto;
}
#logo a{
	width: 100%;
	height: 100%;
	display: block;
}
ul.nav{
	text-align:center;
	padding:20px 0;
}
ul.nav li {
	display:inline-block;
	margin:0 28px;
	line-height:40px;
	
}
ul.nav li a{
	font-size:24px;
	color:#b1b1b1
}
ul.nav li a:hover{
	color:#000;
}
/* end header */

/*start main*/
#main{
	background:#f2f2f2;
	padding:55px 0 135px;
	
}
#right{
	
	width:370px;
	float:right;
	
}
#content{
	
	margin-right:400px;

	
}   
div.maintitle{
	text-align:center;
	margin-bottom:45px;
}
div.maintitle h1{
	font-size:30px;
	color:#010101;
	margin-bottom:0px;
}
div.maintitle span{
	border-bottom:3px solid #000000;
	width:60px;
	display: inline-block;
}
.item{
	background:#fff;
	margin-bottom:50px;
	text-align:center;	
	overflow:hidden;
}
.item-image{
	margin-bottom:10px;
}
.item-image img{
	width:100%;
	height:auto;
}
.item-category{
	margin-bottom:10px;
}
.item-category a{
	font-size:24px;
	color:#010101;
	display:block;
}
.item-category span{
	border-bottom:3px solid #000000;
	width:60px;
	display: inline-block;
	position:relative;
	bottom:10px;
}
.item-title{
	
}
.item-title h3{
	padding:0 60px;
	
}
.item-title h3 a{
	font-size:24px;
	color:#010101
}
div .item-intro{
	padding:0 60px;
	
}
div .item-intro p{
	font-size:16px;
	color:#787878;
	line-height:30px;	
}
div .item-info{
	margin-bottom:35px;
}
div .item-info span{
	font-size:14px;
	color:#9f9f9f;
	display:inline-block;
	margin:0 5px;
}
div .item-readmore{
	margin-bottom:40px;
	
}
div .item-readmore a{
	color:#fff;
	font-size:18px;
	background:#5bc98a;
	padding:0 40px;
	line-height:46px;
	display:inline-block;
	border-radius:20px;
}
div.item-readmore a:hover{
	background:#0d9b4a;
}
#middle{
	overflow:hidden;
}
#middle .item{
	width:370px;
	float:right;
}
#middle .item.right{
	margin-left:30px;
}
div .pagination{
	
	text-align:center;
}
div .pagination ul{
	background:#ffffff;
	display:inline-block;
	line-height:50px;
	direction:ltr;
	
}
div .pagination ul li{
	
	display:inline-block;
	min-width:50px;
	vertical-align:top;
}
div .pagination ul li a{
	
	display:block;
	padding:0 5px;
	
}

div .pagination ul li a.active{
	
	
}
div .pagination ul li a.last,
div .pagination ul li a.first{
	width:50px;
	height:50px;
	background:url('../images/left-arrow.jpg')center center no-repeat;
}
div .pagination ul li a.last{
	background:url('../images/right-arrow.jpg')center center no-repeat;
	
}
div .about{
		background: url('../images/about.jpg') #fff top center no-repeat;
	    padding: 60px 50px 30px;
	    text-align: center;
}
.about-title{
	font-size:14px;
	color:#ffffff;
	margin-bottom:10px;
}
.about-image{
	padding-top:10px;
	
}
.about-name{
	font-size:18px;
	color:#000000;
}
.about-text{
	font-size:14px;
	line-height:24px;
	color:#595959;
	
}

div.pop{
	background: #ffffff;
	padding: 18px 18px 10px
}
#right > div{
	margin-bottom: 48px;
}
.pop-maintitle{
	font-size: 24px;
	color: #010101;
}
div.pop ul{

}
div.pop ul li{
	border-bottom: 1px solid #d0d0d0;
	margin-bottom: 10px;
}
div.pop ul li:last-child{
	border-bottom: none;
	margin-bottom: 0px;
}
div.pop ul li .popright{
	width: 92px;
	float: right;
}
div.pop ul li .popleft{
	margin-right: 102px;
}
.poptitle{
	font-size: 16px;
	margin-bottom: 0px;
}
.poptitle a{	
	color: #010101;
}
.popdate{
	font-size: 12px;
	color: #b6b5b5;
	margin-bottom: 5px;
}
.popintro{
	font-size: 14px;
	line-height: 18px;
	color: #6b6b6b;
}
.border-title{
	line-height:46px;
	border-bottom:2px solid #bdc4cc;
	background:#fff;
	line-height:46px;
    margin-bottom:16px;
}
.border-title h3{
	font-size:24px;
	color:#010101;
	margin-bottom:0px;
	padding:0 18px;

	
}
div .social{
	
}
div .social ul{
	
}
div .social ul li {
	line-height:42px;
	background:#fff;
	margin-bottom:10px;
	
}
div .social ul li a{
	font-size:18px;
	display:block;
	padding-right:68px;
	color:#787878;
	
}
div .social ul li a:hover{
	color:#000;
}
div .social ul li a.facebook{
	background:url('../images/facebook.jpg') right no-repeat;
}
div .social ul li a.twiiter{
	background:url('../images/twiiter.jpg') right no-repeat;
}
div .social ul li a.plus{
	background:url('../images/plus.jpg') right no-repeat;
}
div .social ul li a.youtube{
	background:url('../images/youtube.jpg') right no-repeat;
}
div.cats{
	
}
div.cats ul{
	
}
div .cats ul li{
	line-height:42px;
	background:#ffffff;
	margin-bottom:10px;
	height:42px;
	
	
}
div .cats ul li a{
	display:block;
	height:42px;
	
}
div .cats ul li a span.num{
	width:49px;
	display:inline-block;
	background:#99a1a9;
	color:#fff;
	float:right;
	text-align:center;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}
div .cats ul li a:hover span.num{
	
	background:#5bc98a;
}
div .cats ul li a span.text{
	font-size:18px;
	display:inline-block;
	padding-right:17px;
	color:#787878;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}
div .cats ul li a:hover span.text{
	color:#000;
}
div .cats ul li a span.arrow{
	display:inline-block;
	float:left;
	width:44px;
	background: url('../images/white-arrow.png') #99a1a9;
	height:42px;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}
div .cats ul li a:hover span.arrow{
	background: url('../images/white-arrow.png') #5bc98a;
}
div.gallery{

}
div.gallery ul{
	padding: 23px 0 0 19px;
	background: #fff;
	overflow: hidden;
}
div.gallery ul li{
	float: left;
	margin: 0 17px 20px 0;
}
div.gallery ul li a{
	display: block;
}
div.gallery ul li a img{
	display: block;

}
div.newsletter{
	text-align:center;
}
div.newsletter div.item-category{
	
}
div.newsletter div.item-category h2{
	font-size:30px;
	color:#010101;
	margin-bottom:0px;
}
div.newsletter div.text{
	padding:0 30px;
	margin-bottom:20px;
}
div.newsletter div.text p{
	font-size:18px;
	line-height:30px;
	color:#787878;
}
div.newsletter form{
	
}
div.newsletter form input{
	width:330px;
	height:50px;
	color:#fff;
	border:none;
	text-align:center;
	font-family:yekan;
	font-size:14px;
	color:#bfbfbf;
	margin-bottom:20px;
}
div.newsletter form button{
	width:200px;
	height:50px;
	background:#5bc98a;
	color:#fff;
	font-family:yekan;
	font-size:18px;
	border:none;
	cursor:pointer;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}
div.newsletter form button:hover{
	background:#21a057;
}
/*end main */
/* start footer */
#footer{
	background:#ffffff;
}
#footer .container{
	
}
div.to-top{
	text-align:center;
}
div.to-top a{
	display:inline-block;
	position:relative;
	bottom:35px;
	width:60px;
	height:70px;
	background:url('../images/top-arrow.jpg');
}
div.footnov{
	margin-bottom:20;
}
div.copyright{
	line-height:80px;
	background:url('../images/devider.png') top center no-repeat;
	text-align:center;
}
div.copyright p{
	font-size:18px;
	color:#b1b1b1;
	margin-bottom:0px;
	
}
/* end footer */
















